.content__about {
    position: relative;
    height: auto;
    background-color: black;
    color: white;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}

.anchor_about a {
    position: relative;
    font-size: 50px;
    margin-bottom: 35px;
    z-index: 2;
}

.about-block {
    display: inline-block;
    width: 650px;
    font-size: 30px;
    vertical-align: middle;
    text-align: left;
    font-family: 'Caveat-Regular', 'arial', sans-serif;
}

.about_image img {
    border: 2px dashed white; 
}