<div class="content__about">
    <h1 style="font-size: 50px; margin-bottom: 30px">О НАС</h1>
    <div style="text-align:center" class="about_image about-block">
        <img src="assets/images/about/profile.jpg" width="500px" alt="walden farms">
    </div>
    <div class="about_description about-block">
        <q>
            Здравствуйте, меня зовут Александр, 
            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </q>
        <div class="about-block--socials">
        
        </div>
    </div>
</div>