<div class="content__about">
    <h1 style="font-size: 50px; margin-bottom: 30px">О НАС</h1>
    <div class="image-container">
        <div style="text-align:center" class="about_image about-block">
            <img class="ssss" src="assets/images/about/profile.jpg" width="500px" alt="walden farms">
            <video loop muted autoplay class="fullscreen-bg__video" width="500px">
                <source src="assets/video/promo_video.mp4" type="video/mp4">
                <source src="assets/video/promo_video.webm" type="video/webm">
            </video>
        </div>
    </div>
    <div class="about_description about-block">
        <q>
            Здравствуйте, меня зовут Александр, 
            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </q>
    </div>
</div>