<div class="content__souces souces">
  	<div id="souces" class="souces__block">
    	<div class="souces_logo">
    		<img src="assets/images/souces/waldenfarms-logo.png" width="670px" alt="walden farms">
          	<p class="souces_description">
              	С самого начала миссия Walden Farms как фермерского хозяйства заключалась в том, 
              	чтобы развивать здоровую пищу, помочь людям контролировать свои калории, жиры, углеводы, глютен или сахар любого рода ... 
              	не отказываясь от большинства вкусов!
          	</p>
     	</div>
      	<div *ngFor="let souce of products_souces" class="product_souce--block image_souce">
			<div class="zoom_container" style="position: relative">
				<img src="{{souce.image}}" class="image-normal" alt="souce">
				<!--<img src="{{souce.image_zoom}}" class="zoom-image" alt="zoom-souce">-->
			</div>
          	<div class="product_other--block description_souce" style="position: relative">
              	<p class="description_souce-text">
                  	{{ souce.name }}
				</p>
				<p class="ingredients">
					{{ souce.ingredients }}
				</p>
              	<strong>
                  	{{ souce.price }}
              	</strong>
          	</div>
  		</div>
	</div>
</div>
