.content__souces {
    position: relative;
    height: auto;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.souces__block {
    padding-left: 110px;
    padding-right: 90px;
}

.souces_logo {
    padding-top: 20px;
}

.souces_description {
    font-size: 30px;
    padding: 0 0 10px 0;
}

.product_souce--block {
    display: inline-block;
    width: 200px;
    padding: 10px 10px 0 10px;
    vertical-align: middle;
}

.image-normal {
    width: 200px;
    margin-bottom: 10px;
}

.zoom-image {
    width: 200px;
}

.zoom-image {
    display: none;
}

.zoom_container:hover .zoom-image {
    display: block;
    position: absolute;
    width: 200px;
    top: 0;
    z-index: 20;
}

.description_souce {
    width: 100%;
    margin-bottom: 20px;
}

.description_souce-text {
    height: 45px;
}

.product_other--block .ingredients {
    position: absolute;
    display: none;
    width: 190px;
    top: -205px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    z-index: 10;
}

.product_souce--block:hover .ingredients {
    display: block;
}

@media screen and (max-width: 800px) {
    .souces-logo img {
        width: 350px;
    }

    .product_souce--block {
        padding: 10px 20px 0 10px;
    }

    .zoom_container:hover .zoom-image {
        display: none
    }

    .product_souce--block:hover .ingredients {
        display: none;
    }

    .product_souce--block {
        width: 250px;
    }

    .image-normal {
        width: 250px;
    }

    .description_souce-text {
        height: auto;
    }

    .description_souce p,
    .description_souce strong {
        font-size: 30px;
    }
}