.content__delivery-payment {
    position: relative;
    height: auto;
    background-color: #282944;
    color: white;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;

    /*background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 35%;*/
}

.delivery-payment--container {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.delivery-payment-delivery,
.delivery-payment-payment {
    position: relative;
    width: 500px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 20px;
    z-index: 2;
}

.title-delivery,
.title-payment {
    font-weight: bold;
    margin-bottom: 20px;
}

.select-delivery,
.select-payment {
    margin-bottom: 20px;
}