.content__delivery-payment {
    position: relative;
    height: auto;
    background-color: #282944;
    color: white;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.delivery-payment--container {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.delivery-payment-delivery,
.delivery-payment-payment {
    position: relative;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 20px;
    z-index: 2;
}

.title-delivery,
.title-payment {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px
}

.select-delivery,
.select-payment {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {

    .delivery-payment--container h2 { 
        font-size: 50px;
    }

    .delivery-payment--container p { 
        font-size: 30px;
    }

    .delivery-payment-delivery,
    .delivery-payment-payment {
        width: 90%;
    }
}