<div class="content__communications">
    <!--https://stackblitz.com/angular/xkaydxbpbao?file=src%2Fapp%2Freactive%2Fhero-form-reactive.component.html-->
    <h1 style="font-size: 50px; margin-bottom: 30px">СВЯЗАТЬСЯ С НАМИ</h1>
    <form [formGroup]="orderForm" #formDir="ngForm" class="form">
        <div class="cross-validation" [class.cross-validation-error]="orderForm.errors?.identityRevealed && (orderForm.touched || orderForm.dirty)">
            <div class="form-group">
                <label for="name">Имя<span style="color:red">*</span></label><br>
                <input id="name" class="form-control" formControlName="name" required >
                <!--<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Имя обязательно для заполнения
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Имя должно быть не короче 2 символов
                    </div>
                </div>-->
            </div>
            <div class="form-group">
                <label for="phone">Телефон<span style="color:red">*</span></label><br>
                <input id="phone" class="form-control" formControlName="phone" required>
                <!--<div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div *ngIf="phone.errors.required">
                        Телефон обязателен для заполнения
                    </div>
                    <div *ngIf="phone.errors.minlength">
                        Телефон должен быть не короче 5 символов
                    </div>
                </div>-->
            </div>
        </div>
        <!--<button type="submit" class="btn btn-default" [disabled]="orderForm.invalid">Submit</button>-->
    </form>
    <a href="mailto:draghignazzo.sss@gmail.com?Subject=Хочу сумку!!!&body=Имя: {{ orderForm.value.name }},%0D%0AТелефон: {{ orderForm.value.phone }}" target="_blank" class="btn-a">
        <button type="submit" class="btn btn-success" [class.btn-disabled]="orderForm.invalid" [disabled]="orderForm.invalid">Готово</button>
    </a>
</div>
