<header class="header">
  	<ul class="navbar">
		<li><a href="#products">ИЗДЕЛИЯ</a></li>
		<li><a href="#pay">ОПЛАТА</a></li>
		<li>
			<div class="logo">
				<img src="assets/images/logo.jpg" width="75" height="80" alt="logo">
				<div class="eyes">
					<div class="left_eye"></div>
					<div class="right_eye"></div>
					<h2 class="logo_title">
						<p>
							a.m.stuff
						</p>
					</h2>
				</div>
			</div>
		</li>
		<li><a href="#communications">КОНТАКТЫ</a></li>
		<li><a href="#about">О НАС</a></li>
	</ul>  
</header>
<main class="main content">
	<div class="content__description">
		<div class="image_description1">
			<img src="assets/images/description1_1.jpg" alt="logo">
		</div>
		<div class="image_description2">
			<img src="assets/images/description1_2.jpg" alt="logo">
		</div>
		<!--<p style="color: rgb(255, 255, 255)"> 
			Собственное производство, ручная работа. Кожаная скрутка для транспортировки и хранения поварских ножей. Все наши скрутки выполнены СТРОГО из НАТУРАЛЬНОЙ КОЖИ. Скрутка - это обязательный аксессуар для профессионального повара и для любителя.
		</p>-->
	</div>

	<div class="content__products products">
		<p><a name="products"></a></p>
		<div class="products__product" *ngFor="let item of data">
			<div class="product_block image">
				<img src="{{item.image}}" width="300" alt="product">
			</div>
			<div class="product_block description">
				<p>
					{{ item.description }}
				</p>
				<p>
					{{ item.price }}
				</p>
			</div>
		</div>
	</div>

	<div class="content__delivery-payment delivery-payment">
			<p class="anchor_delivery-payment"><a name="pay"></a></p>
		<div class="delivery-payment--container">
			<div class="delivery-payment-delivery">
				<p class="title-delivery">
					Доставка
				</p>
				<div class="select-delivery" *ngFor="let item of deliveries">
					<p style="font-weight: bold">{{ item.place }}</p>
					<p>{{ item.where1 }}</p>
					<p>{{ item.price1 }}</p>
					<p>{{ item.comment1 }}</p>
					<p>{{ item.where2 }}</p>
					<p>{{ item.price2 }}</p>
					<p>{{ item.comment2 }}</p>
					<p>{{ item.where3 }}</p>
					<p>{{ item.price3 }}</p>
					<p>{{ item.comment3 }}</p>
				</div>
			</div>
			<div class="delivery-payment-payment">
				<p class="title-payment">
					Оплата
				</p>
				<div class="select-payment" *ngFor="let item of payment">
					<p>{{ item.how }}</p>
					<p>{{ item.comment }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="content__about">
		<p><a name="about"></a></p>
	</div>

	<div class="content__communications">
		<div class="communications__number">
			<p><a name="communications"></a></p>
			<p>
				Телефон: +7 999 999 99 99
			</p>
			<p>
				<a href="mailto:draghignazzo.sss@gmail.com" target="_blank">
					E-mail : draghignazzo.sss@gmail.com
				</a>
			</p>
		</div>
	</div>
</main>

<footer class="footer">
	
</footer>

