<div class="content__products products">
	<h1 style="font-size: 50px; margin-bottom: 30px">НАШИ ИЗДЕЛИЯ</h1>
  	<div class="products__bag" *ngFor="let bag of products_bags">
		<div class="product_bag--block bag-gallery">
			<ui-carousel [infinite]="false" [fade]="true" [autoPlay]='false' [speed]="200" width="400px" >
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image1}}" alt="bag">
				    </div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image2}}" alt="bag mini">
					</div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image3}}" alt="bag mini">
					</div>
				</ui-carousel-item>
			</ui-carousel>
		</div>
  	  	<div class="product_bag--block description_bag">
  	  	  	<p>
  	  	  	  	{{ bag.description }}
  	  	  	</p>
  	  	  	<strong>
  	  	  	  	{{ bag.price }}
			</strong>
		</div>
	</div>
</div>