<div class="content__products products">
	<h1 style="font-size: 50px; margin-bottom: 20px">НАШИ ИЗДЕЛИЯ</h1>
	<p class="products-description">
		Скрутка от "A.M.STUFF" - это эксклюзивное изделие, которое не оставит равнодушными ценителей handmade. 
		Оптимальный расчет высоты и ширины карманов. 
		Натуральная кожа крупно рогатого скота толщиной 1,5 мм очень приятна на ощупь и надежна в использовании. 
	</p>
  	<div class="products__bag" *ngFor="let bag of products_bags">
		<div class="product_bag--block bag-gallery">
			<ui-carousel #uiCarousel [infinite]="false" [fade]="false" [autoPlay]='false' [speed]="200" [arrows]="false" class="carousel-pc">
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image1}}" alt="bag1">
				    </div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image2}}" alt="bag2">
					</div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image3}}" alt="bag3">
					</div>
				</ui-carousel-item>
				<div class="left-arrow" (click)="uiCarousel.prev()">
					<img src="assets/images/bags/arrow_left.png" alt="">
				</div>
				<div class="right-arrow" (click)="uiCarousel.next()">
					<img src="assets/images/bags/arrow_right.png" alt="">
				</div>
			</ui-carousel>
			
			<ui-carousel #uiCarouselmob [infinite]="false" [fade]="false" [autoPlay]='false' [speed]="200" [arrows]="false" height="450px" class="carousel-mob">
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image1}}" alt="bag1">
				    </div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image2}}" alt="bag2">
					</div>
				</ui-carousel-item>
				<ui-carousel-item>
  	  	  			<div class="image_bag">
  	  	  			  	<img src="{{bag.image3}}" alt="bag3">
					</div>
				</ui-carousel-item>
				<div class="left-arrow" (click)="uiCarouselmob.prev()">
					<img src="assets/images/bags/arrow_left.png" alt="">
				</div>
				<div class="right-arrow" (click)="uiCarouselmob.next()">
					<img src="assets/images/bags/arrow_right.png" alt="">
				</div>
			</ui-carousel>
		</div>
  	  	<div class="product_bag--block description_bag">
  	  	  	<p>
  	  	  	  	{{ bag.description }}
  	  	  	</p>
  	  	  	<strong class="price_bag">
  	  	  	  	{{ bag.price }}
			</strong>
		</div>
	</div>
</div>