.content__products {
    position: relative;
    height: auto;
    padding: 0 0 20px 110px;
    text-align: left;
    z-index: 0;
}

.products-description {
    font-size: 30px;
    padding: 0 0 20px 0;
}

.products__bag {
    position: relative;
    width: 450px;
    display: inline-block;
    margin: 0 10px 10px 0;
    background-color: #ffffff;
}

.product_bag--block {
    width: 450px;
    display: inline-block;
    vertical-align: middle;
}

.image_bag img {
    width: 450px;
}

.carousel-mob {
    display: none;
}

ui-carousel::ng-deep .ui-carousel-item {
    background-color: #ffffff;
}

.description_bag {
    position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 31px;
    background-color: rgba(0,0,0,0.75);
    color: white;
}

.price_bag {
    display: block;
    margin-top: 10px;
}

.left-arrow,
.right-arrow{
    width: 30px;
    height: 35px;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 50;
    opacity: 0;
    transition: opacity 0.5s 0s ease;
}

.left-arrow{
    left: 0;
    border-radius: 0 3px 3px 0;
}

.right-arrow{
    right: 0;  
    border-radius: 3px 0 0 3px;
}

.left-arrow:hover,.right-arrow:hover{
    cursor: pointer;
}

.left-arrow img,
.right-arrow img{
    height: 25px;
    margin-top: 5px;
    width: auto;
    opacity: 1;
}

.left-arrow img{
    margin-left: 0px;
}

.right-arrow img{
    margin-left: 0px;
}

img{
    width: 100%;
}

.description_bag:hover {
    opacity: 0;
}

.products__bag:hover .left-arrow,
.products__bag:hover .right-arrow {
    opacity: 1;
}

@media screen and (max-width: 938px) {
    .carousel-pc {
        display: none;
    }

    .carousel-mob {
        display: block;
    }

    .products__bag,
    .product_bag--block,
    .image_bag img {
        width: 600px;
    }
}