.content__products {
    position: relative;
    height: auto;
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    z-index: 10;
}

.content__products:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 1px;
    width: 80%;
    border-top: 1px solid black;
}

.products__bag {
    width: 400px;
    display: inline-block;
    margin: 0 5px 20px 5px;
    background-color: #ffffff;
    border: 1px solid white;
}

.product_bag--block {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
}

.image_bag img {
    width: 400px;
}

.description_bag {
    width: 300px;
    margin-bottom: 30px;
}