<div class="content__reviews reviews">
	<h1 style="font-size: 50px; margin-bottom: 30px">ОТЗЫВЫ О НАШИХ ИЗДЕЛИЯХ</h1>
  	<div class="reviews__item" *ngFor="let review of reviews">
  	  	<div class="reviews__item--block photo-gallery">
  	  	  	<div class="image_photo">
  	  	  	  	<img src="{{review.photo}}" alt="photo">
  	  	  	</div>
  	  	</div>
  	  	<div class="product_review--block description_review">
			<p style="padding: 10px 0 10px 0; text-align: center">
				{{ review.name }}
			</p>
  	  	  	<q><i>
  	  	  	  	{{ review.description }}
			</i></q>
		</div>	
  	</div>
</div>
