<div class="content__description description_site">
	<div class="rectangle" style="
	position: absolute;
	left: 100px;
	width: 108px;
	height: 125px;
	background-color: black;
	"></div>
	<div class="triangle" style="
	position: absolute;
    width: 0;
    height: 0;
    top: 125px;
    left: 100px;
    border-left: 57px solid transparent;
    border-right: 50px solid transparent;
	border-top: 22px solid black;
	z-index: 100;"></div>
  	<div class="description_site__container">
		<div class="container__wrapper_logo">
			<div [ngx-scroll-to]="'home'" class="logo_a" style="cursor: pointer">
				<img style="position: absolute; top: 15px; left: 95px;" src="assets/images/description/logo.png" width="80px" height="80px" alt="logo">
				<div class="eyes">
					<div class="left_eye"></div>
					<div class="right_eye"></div>
				</div>
				<h2 class="logo_title" style="position: absolute; width: auto; top: 85px; left: 82px; font-size: 12px">a.m.stuff</h2>
			</div>
		</div>
		<ul class="navbar">
			<li>
				<a class="vk" href="https://vk.com/nikolaev_cuisine" target="_blank" title="Наша группа">
					<img src="assets/images/description/vk_icon.png" width="30px" height="30px" alt="vk">
				</a>
			</li>
			<li>
				<a class="instagram" href="https://www.instagram.com/knife.roll/" target="_blank" title="Наш инстаграм">
					<img src="assets/images/description/instagram_icon.png" width="30px" height="30px" alt="insta">
				</a>
			</li>
			<li><p [ngx-scroll-to]="'about'">о нас</p></li>
			<li><p [ngx-scroll-to]="'contacts'">связь</p></li>
			<li><p [ngx-scroll-to]="'pay'">купить</p></li>
			<li><p [ngx-scroll-to]="'souces'">соусы</p></li>
			<li><p [ngx-scroll-to]="'products'">изделия</p></li>
		</ul>


		



		<!--<div class="logo_stuff_mob">
			<img style="position: absolute; left: 10px; margin-top: 10px" src="assets/images/description/logo.png" width="120px" height="120px" alt="logo">
		</div>
		<p class="phone" style="font-size:30px">
			+7 (905) 547-34-87 
		</p>
		<p class="phone-mob" style="font-size:30px">
			8(905)547-34-87 
		</p>
		<div class="description_text">
  	  		<p> 
  	  		  	Cкрутки для транспортировки и хранения поварских ножей. 
				Натуральная кожа, ручная работа. <br>
				<span class="to_products--arrow" [ngx-scroll-to]="'products'">▼</span>
  	  		</p>
		</div>-->
  	</div>
  	<!--<video loop autoplay muted class="fullscreen-bg__video">
  	  	<source src="assets/video/promo_video.mp4" type="video/mp4">
  	  	<source src="assets/video/promo_video.webm" type="video/webm">
  	</video>-->
</div>