<div class="content__description description_site">
  	<div class="description_site__logo">
  	    <div class="eyes">
  	      	<div class="left_eye"></div>
  	      	<div class="right_eye"></div>
  	    </div>
  	  	<img src="assets/images/description/logo.png" width="200px" alt="logo">
  	  	<h2 class="logo_title">a.m.stuff</h2>
  	  	<p> 
  	  	  	Cкрутки для транспортировки и хранения поварских ножей. 
  	  	  	Натуральная кожа, ручная работа.
  	  	</p>
  	  	<p class="to_products--arrow"><a href="#products">▼</a></p>
  	</div>
  	<video loop muted class="fullscreen-bg__video">
  	  	<source src="assets/video/promo_video.mp4" type="video/mp4">
  	  	<source src="assets/video/promo_video.webm" type="video/webm">
  	</video>
</div>