<div class="content__description description_site">
  	<div class="description_site__logo">
		<h2 class="logo_title">a.m.stuff</h2>
		<div class="logo_stuff_mob">
			<img style="position: absolute; left: 10px; margin-top: 10px" src="assets/images/description/logo.png" width="120px" height="120px" alt="logo">
		</div>
		<a class="instagram" href="https://www.instagram.com/knife.roll/" target="_blank" title="Наш инстаграм">
			<img style="position: absolute; margin-top: 28px; right: 20px; z-index: 3;" src="assets/images/description/instagram_icon.png" width="44px" height="44px" alt="insta">
			<div class="flash"></div>
		</a>
		<a class="vk" href="https://vk.com/nikolaev_cuisine" target="_blank" title="Наша группа">
			<img src="assets/images/description/vk_icon.png" width="50px" height="50px" alt="insta">
		</a>
		<p class="phone" style="font-size:30px">
			+7 (905) 547-34-87 
		</p>
		<p class="phone-mob" style="font-size:30px">
			8(905)547-34-87 
		</p>
		<div class="description_text">
  	  		<p> 
  	  		  	Cкрутки для транспортировки и хранения поварских ножей. 
				Натуральная кожа, ручная работа. <br>
				<span class="to_products--arrow" [ngx-scroll-to]="'products'">▼</span>
  	  		</p>
		</div>
  	</div>
  	<video loop autoplay muted class="fullscreen-bg__video">
  	  	<source src="assets/video/promo_video.mp4" type="video/mp4">
  	  	<source src="assets/video/promo_video.webm" type="video/webm">
  	</video>
</div>