* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Exo2-Regular', 'arial', sans-serif;
    background-color: black;
    min-width: 705px;
}

a {
    color: #fff;
}

@font-face {
    font-family: Tsarevich; /* Имя шрифта */
    src: url(assets/fonts/Haymaker.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Exo2-Regular; /* Имя шрифта */
    src: url(assets/fonts/Exo2-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: LeArchitect; /* Имя шрифта */
    src: url(assets/fonts/LeArchitect.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Caveat-Regular; /* Имя шрифта */
    src: url(assets/fonts/Caveat-Regular.ttf); /* Путь к файлу со шрифтом */
}

.app-root__load {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden; 
}

.app-root__load p {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.app-root__load img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.logo {
    z-index: 2;
    animation: 1s linear 0s normal none infinite running front;
    -webkit-animation: 1s linear 0s normal none infinite running front;
}

  @keyframes front {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes front {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }